<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thyroid Disease Detection</title>
</head>
<body>

<h1>Thyroid Disease Detection</h1>
<form method="post" action="/predict">
    <label>Age</label><br>
    <input type="number" name="age"><br>
    <label>Sex</label><br>
    <input type="number" name="sex"><br>
    <label>On_thyroxine</label><br>
    <input type="number" name="on thyroxine"><br>
    <label>Query_on_thyroxine</label><br>
    <input type="number" name="query on thyroxine"><br>
     <label>On_antithyroid_medication</label><br>
    <input type="number" name="on antithyroid medication"><br>
     <label>Sick</label><br>
    <input type="number" name="sick"><br>
     <label>Pregnant</label><br>
    <input type="number" name="pregnant"><br>
     <label>Thyroid_surgery</label><br>
    <input type="number" name="thyroid surgery"><br>
     <label>I131 Treatment</label><br>
    <input type="number" name="I131 treatment"><br>
     <label>query_hypothyroid</label><br>
    <input type="number" name="query hypothyroid"><br>
     <label>Query_hyperthyroid</label><br>
    <input type="number" name="query hyperthyroid"><br>
     <label>Lithium</label><br>
    <input type="number" name="lithium"><br>
     <label>Goiter</label><br>
    <input type="number" name="goiter"><br>
     <label>Tumor</label><br>
    <input type="number" name="tumor"><br>
     <label>hypopituitary</label><br>
    <input type="number" name="hypopituitary"><br>
     <label>psych</label><br>
    <input type="number" name="psych"><br>
     <label>TSH</label><br>
    <input type="number" name="TSH"><br>
     <label>T3</label><br>
    <input type="number" name="T3"><br>
     <label>T4U</label><br>
    <input type="number" name="T4U"><br>
     <label>FTI</label><br>
    <input type="number" name="FTI"><br>
    <input type="submit" value="Predict">





</form>

</body>
</html>